﻿@model BenchmarkModel

<style>
    .wide-input {
        width: 100%;
        height: 165px;
    }

    body {
        font-family: Arial, sans-serif;
        line-height: 1.6;
        color: #333;
        padding: 20px;
    }

    p {
        margin-bottom: 10px;
    }

</style>

<div class="alert alert-success" role="alert">
    Это приложение предназначено для тестирования производительности различных алгоритмов сортировки, поиска на массивах разных размеров.
</div>

<div class="alert alert-success" role="alert">
    Для вашего алгоритма будет создан бенчмарк. Тестирование будет запущено на массивах с выбранными размерами от
    <span class="badge text-bg-secondary bg-secondary">10</span>
    до
    <span class="badge text-bg-secondary bg-secondary">10 000 000 </span>
    элементов.
</div>


<div class="alert alert-success" role="alert">
    Представленный алгоритм должен в основе своей работать с массивом состоящем из чисел
    <span class="badge text-bg-secondary bg-primary">int</span>.
    Представьте ваш код на языке
    <span class="badge text-bg-secondary bg-success">C#</span>
    в виде метода.
</div>

<pre><code class="language-csharp">
public void MethodName()
{
   // учитывайте, что изначальный массив должен носить название - _sourceArray
}
</code></pre>
<p>
    Пожалуйста, убедитесь, что ваш код корректно обрабатывает все возможные случаи и не содержит ошибок.
    <br>Все предоставленные алгоритмы должны быть способны сортировать массивы любого размера без ошибок.
    <br>Результаты тестов будут представлены в виде таблицы.
</p>

<p>Выберите размеры массивов</p>
<form id="benchmarkForm" asp-controller="UserCode" asp-action="Run" method="post">
    <select asp-for="BenchmarkSizeParams" asp-items="ViewBag.PossibleValues" multiple class="select"></select>
    <textarea asp-for="UserCode" class="wide-input-for-code"></textarea>
    <p><hr /></p>
    <button class="glow-on-hover" type="submit"> Запустить бенчмарк </button>
</form>


<!--
<script>
    $(document).ready(function () {
        $('.select').select2({
            placeholder: "Выберите опцию",
            allowClear: true
        });
    });
</script>
-->



<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>

<p><hr /></p>

<pre class="wide-input">
<code class="language-csharp" id="highlightedUserCode">@ViewData["UserInput"]</code> 
</pre>

<div class="loader-wrapper" style="display: none">
    <span class="loader"></span>
</div>

<script>
    $(document).ready(function () {
        $('#benchmarkForm').submit(function (e) {
            const loadWrapper = $('.loader-wrapper')
            console.log(loadWrapper)
            $('.loader-wrapper').show();
        });
    });
</script>